<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.assertx.org/swing/AssertXSwing"
			class = "org.assertx.swing.assertXSwing.AssertXSwingPackage"
			genModel = "model/generated/AssertXSwing.genmodel" />
	</extension>
</plugin>
